@font-face {
    font-family: "marvel";
    src: url("../fonts/marvel/marvel.woff2") format("woff2"), url("../fonts/marvel/marvel.woff") format("woff"),
        url("../fonts/marvel/marvel.ttf") format("ttf");
}

@font-face {
    font-family: "momstypewriter";
    src: url("../fonts/momsTypewriter/moms_typewriter.woff2") format("woff2"),
        url("../fonts/marvel/marvel.woff") format("woff"),
        url("../fonts/momsTypewriter/moms_typewriter.ttf") format("ttf");
}
