@use "fonts";
@use "variables" as v;
@use "mixins" as m;

html,
body {
    @include m.flex;

    .wrapper {
        .header {
            color: v.$headerTextColor;
            @include m.headerStyle;
        }

        .main {
            display: flex;
            padding-top: 50px;

            .leftside {
                @include m.blocksPadding;

                .leftside__container {
                    .container__main-logo {
                        .logo {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .container__small-logo {
                        @include m.smallLogoStyle;

                        .logo {
                            width: 20%;
                        }
                    }
                }
            }

            .rightside {
                @include m.blocksPadding;

                .rightside__article {
                    .article__title {
                        @include m.articleStyle;
                    }

                    .article__text {
                        @include m.textStyle;
                        color: v.$textColor;
                    }
                }
            }
        }
    }
}
